@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo</h1>
    <p>Software de Gestão e facturação Registrado pela AGT.</p>
    <p> <img src="~/img/logo.png" style="display:flex; justify-content:center; align-content:center; margin:0 auto; background:blue; " width="500" /> </p>
</div>